# Proje 1

## projede bir öğrenci not sistemi oluşturacaksınız. Sizden istenilenler:

### Kendinize bir ders belirleyiniz. (Matematik,Fizik, Lineer Cebir vb.)
### Not aralığınızı oluşturunuz (100-80 ⇒ A, 79-70 ⇒ B vb.)
### Öğrenci Bilgilerini (Ad, Soyad, Okul No, sınav puanı) girebileceğiniz ve bu bilgilerin tutulabileceği bir sistem oluşturunuz.
### Girilen bilgilerden yola çıkarak öğrencinin dersi geçip geçmediğini göstermesi gerekmektedir.
### Öğrenci dersi geçti ise öğrencinin bilgilerinin tutulduğu alana “Geçti” yazısı, öğrenci dersi geçemedi ise “kaldı” yazısını göstermesi gerekmektedir.
### Notları girilen öğrencilerden dersi geçenleri ve geçmeyenleri gösteren bir Dataframe oluşturunuz. 
### Oluşturulan Dataframe’i Excel tablosuna dönüştürünüz.

In [1]:
#kütüphanelerin import edilmesi
import numpy as np
import pandas as pd

In [20]:
ogrenciListe = {}
dersGecme = ["KALDI", "GEÇTİ"]


def ogrenciEkle():
  ogrenciAd = input("Öğrenci'nin adını giriniz : ")
  ogrenciSoyad = input("\nÖğrenci'nin soyadını giriniz: ")

  ogrenciAdSoyad = f"{ogrenciAd} ".capitalize() + f"{ogrenciSoyad}".upper()

  ogrenciOkulNo = input("Öğrencinin okul numarasını giriniz: ")
  ogrenciSinavNotu = int(input("Öğrencinin sınav notunu giriniz: "))

  if ogrenciSinavNotu > 100 or ogrenciSinavNotu < 0:
      ogrenciSinavNotu = int(input("Aykırı değer! Öğrencinin sınav notunu giriniz: "))
  

  if ogrenciSinavNotu >= 50:
      ogrenciDersGecmeDurumu = dersGecme[1]
  else:
      ogrenciDersGecmeDurumu = dersGecme[0]

  ogrenciListe[ogrenciAdSoyad] = [ogrenciOkulNo, ogrenciSinavNotu, ogrenciDersGecmeDurumu]

In [37]:
def dataFrame(OgrenciNotListe): 
  global ogrenci
  ogrenci = pd.DataFrame.from_dict(OgrenciNotListe, orient ='index')
  ogrenci.columns = ['Okul No','Ders Notu','Durum(Kaldı,Geçti)']
  ogrenci.info()
  return ogrenci

In [22]:
ogrenciEkle()

Öğrenci'nin adını giriniz : Zehra

Öğrenci'nin soyadını giriniz: Kara
Öğrencinin okul numarasını giriniz: 681
Öğrencinin sınav notunu giriniz: 90

In [28]:
ogrenciListe.items()

dict_items([('Zehra KARA', ['681', 90, 'GEÇTİ'])])

In [29]:
ogrenciListe.clear()

In [30]:
ogrenciListe

{}

In [31]:
ogrenciEkle()

Öğrenci'nin adını giriniz : Keanu

Öğrenci'nin soyadını giriniz: Reeves
Öğrencinin okul numarasını giriniz: 1
Öğrencinin sınav notunu giriniz: 100

In [32]:
ogrenciEkle()

Öğrenci'nin adını giriniz : Hugo

Öğrenci'nin soyadını giriniz: Weaving
Öğrencinin okul numarasını giriniz: 2
Öğrencinin sınav notunu giriniz: 90

In [33]:
ogrenciEkle()

Öğrenci'nin adını giriniz : Carrie-Anne

Öğrenci'nin soyadını giriniz: Moss
Öğrencinin okul numarasını giriniz: 3
Öğrencinin sınav notunu giriniz: 42

In [34]:
ogrenciListe.items()

dict_items([('Keanu  REEVES', ['1', 100, 'GEÇTİ']), ('Hugo  WEAVING', ['2', 90, 'GEÇTİ']), ('Carrie-anne  MOSS', ['3', 42, 'KALDI'])])

In [38]:
dataFrame(ogrenciListe)

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Keanu  REEVES to Carrie-anne  MOSS
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Okul No             3 non-null      object
 1   Ders Notu           3 non-null      int64
 2   Durum(Kaldı,Geçti)  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 96.0+ bytes

                  Okul No  Ders Notu Durum(Kaldı,Geçti)
Keanu  REEVES           1        100              GEÇTİ
Hugo  WEAVING           2         90              GEÇTİ
Carrie-anne  MOSS       3         42              KALDI